<% include head.ejs %>
<title>Questions - Match</title>
<h1>Tell us more about you</h1>
<form action=/ method=post>
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="question1">If you didn't have to sleep, what would you do with the extra time?</label>
    <input type="text" name="question1">
    <label for="question2">What hobby would you get into if time and money weren't an issue?</label>
    <input type="text" name="question2">
    <label for="question3">What’s your favorite genre of book or movie?</label>
    <input type="text" name="question3">
    <label for="question4">What would be the most amazingg adventure to go on?</label>
    <input type="text" name="question4">
    <label for="question5">What would be your first question after waking up from being cryogenically frozen for 100 years?</label>
    <input type="text" name="question5">
    <input type="submit" value='Save'>
</form>